    body {
        background-image: url('../VonDemon.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
    }

    main {
        color:white;
    }

    h1 {
        font-size: 70;
        font-family: 'GTA'; 
        height: calc(100vh - 200px); /* Adjusts height to fill the viewport minus header */
        text-align: center;
    }

    p {
        font-size: 20px;
        font-family: 'GTA';
        margin-top: 20px;
    }

    h2 {
        font-size: 70;
        font-family: 'GTA';
    }

    @font-face {
        font-family: 'GTA';
        src: url('../Pricedown Bl.otf');
    }

    /* Styling for the header */
    header {
      /* All previous styles */
      background-color: darkred;
      padding: 1rem 2rem;
      justify-content: space-between;
      align-items: center;
      display: flex;

      /* The new styles to fix the position */
      position: fixed; /* This "fixes" the element relative to the viewport */
      top: 0; /* Positions the element at the very top of the screen */
      width: 100%; /* Ensures the header spans the full width */
      z-index: 1000; /* Keeps the header on top of all other content */
    }

    /* Styling for the logo */
    .logo a {
      color: #fff;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 0.5rem 1rem; /* Adds padding for better clickability */
    }

    /* Styling for the navigation menu */
    nav ul {
      list-style: none; /* Removes bullet points */
      margin: 0;
      padding: 0;
      display: flex; /* Lays out the menu items horizontally */
      gap: 1.5rem; /* Adds space between menu items */
    }

    nav a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      transition: color 0.3s;
      padding: 1rem 1rem; /* Adds padding for better clickability */
      font-family: 'GTA';
    }

    nav a:hover {
      color: #ddd;
    }



